.main {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: rgb(162,184,219);
    background: linear-gradient(0deg, rgba(162,184,219,1) 0%, rgba(144,177,232,1) 14%, rgba(103,173,210,1) 44%, rgba(211,248,255,1) 100%);
}

h1 {
    color: rgb(21, 29, 100);
    font-size: 50px;
    text-align: center;
}