* {
  background-color: aliceblue;
}


/* login form */

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #448f9c;
  background-color: #EAEAEA;
  box-shadow: black;
  border-radius: 5%;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}

/* login form */